<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/> 
  <arg name="init_x"/>
  <arg name="init_y"/>
  <arg name="robot_name"/>

  <include file="$(find multiple_turtle_gazebo)/launch/includes/move_base.launch.xml"/>

  <include file="$(find multiple_turtle_gazebo)/launch/includes/kobuki.launch">
    <arg name="init_robot_x" value="$(arg init_x)"/>
    <arg name="init_robot_y" value="$(arg init_y)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="gazebo_plugins" type="hokuyo_node" name="hokuyo_node"/>
</launch>
